## base backages
importFrom("stats", coef, family, fitted, model.matrix, nobs,
           residuals, terms, vcov, weights)

## Recommended packages
importFrom("lme4", findbars, fixef, nobars, ranef, sigma,
           subbars, VarCorr)

## Exports
export(hglm.fast)
export(hglm.fast.control)
export(hglm.fast.fit)
export(fitted.hglm.fast)
export(fixef)
export(fixef.hglm.fast)
export(firthglm.control)
export(firthglm.fit)
export(model.matrix.hglm.fast)
export(predict.hglm.fast)
export(ranef)
export(ranef.hglm.fast)
export(sigma)
export(sigma.hglm.fast)
export(terms.hglm.fast)
export(VarCorr)
export(VarCorr.hglm.fast)

## Methods
S3method(coef, hglm.fast)
S3method(family, hglm.fast)
S3method(fitted, hglm.fast)
S3method(fixef, hglm.fast)
S3method(model.frame, hglm.fast)
S3method(model.matrix, hglm.fast)
S3method(predict, hglm.fast)
S3method(print, hglm.fast)
S3method(print, summary.hglm.fast)
S3method(print, VarCorr.hglm.fast)
S3method(ranef, hglm.fast)
S3method(residuals, hglm.fast)
S3method(sigma, hglm.fast)
S3method(summary, hglm.fast)
S3method(terms, hglm.fast)
S3method(VarCorr, hglm.fast)
S3method(vcov, hglm.fast)
S3method(weights, hglm.fast)
