## base backages
importFrom("stats", .checkMFClasses, .getXlevels, coef, delete.response,
    family, fitted, gaussian, is.empty.model, model.extract, model.frame,
    model.offset, model.matrix, model.response, model.weights, na.pass,
    naresid, nobs, pnorm, predict, printCoefmat, pt, residuals, terms,
    update, vcov, weights)

## Recommended packages
importFrom("lme4", findbars, fixef, nobars, ranef, subbars, VarCorr)

## S3 generic for sigma():
##   exported from 'stats' for R >= 3.3.0; from 'lme4' for R <= 3.2.x
if(getRversion() >= "3.3.0") {
  importFrom("stats", sigma)
} else {
  importFrom("lme4", sigma)
}

## Exports
export(mhglm)
export(mhglm.control)
export(mhglm.fit)
export(fixef)
export(fixef.mhglm)
export(firthglm.control)
export(firthglm.fit)
export(model.matrix.mhglm)
export(predict.mhglm)
export(ranef)
export(ranef.mhglm)
export(sigma)
export(sigma.mhglm)
export(terms.mhglm)
export(VarCorr)
export(VarCorr.mhglm)

## Methods
S3method(coef, mhglm)
S3method(family, mhglm)
S3method(fitted, mhglm)
S3method(fixef, mhglm)
S3method(model.frame, mhglm)
S3method(model.matrix, mhglm)
S3method(predict, mhglm)
S3method(print, mhglm)
S3method(print, summary.mhglm)
S3method(print, VarCorr.mhglm)
S3method(ranef, mhglm)
S3method(residuals, mhglm)
S3method(sigma, mhglm)
S3method(summary, mhglm)
S3method(terms, mhglm)
S3method(VarCorr, mhglm)
S3method(vcov, mhglm)
S3method(weights, mhglm)
